body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
    text-align: center;
}
header {
    background: #fff8db;
    color:#333;
    text-align: center;
    justify-items: center;
    padding: 2rem 0 0;
    margin-bottom: 0;
}
header img {
    width: 500px;
    height: auto;
    margin: 1rem 0;
}
/* @media (max-width: 600px) {
    header img {
        width: 100%;
    }
} */

main {
    padding: 2rem;
}

section {
    display: flex;
    background: seagreen;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

video {
    object-fit:scale-down;
    z-index: 1;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    bottom: 0;
    width: 100%;
}

.nav-bar {
padding: 1rem 0;
box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}