<div id="giscus_thread"></div>
<script src="https://giscus.app/client.js"
        data-repo="sironysos/sironysos.github.io"
        data-repo-id="R_kgDOORK8bQ"
        data-category="Ideas"
        data-category-id="DIC_kwDOORK8bc4Cr2Rn"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="fr"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
